@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

/* Remove default margin and padding from body */
body {
  margin: 0;
  padding: 0;
  background-color: #0a3b50; /* Set body background color */
}

a {
  color: #2c8a39;
}

pre {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #000000;
  border-radius: 25px;
  color: #08ba23;
}

code {
  font-family: "Courier New", monospace;
  font-size: 1em;
  background-color: #000000;
}

#body {
  margin: 0;
  padding: 0;
  background-color: #0a3b50; /* Set body background color */
}

/* Navigation Bar */
#navbar {
  background-color: #0a3b50;
  padding: 1em 0;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  display: inline-block;
  margin: 0 10px;
}

#navbar li {
  animation: nav-icons 0.25s ease-in-out forwards;
  -moz-animation: nav-icons 0.25s ease-in-out forwards;
  -webkit-animation: nav-icons 0.25s ease-in-out forwards;
  -ms-animation: nav-icons 0.25s ease-in-out forwards;
  animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: inline-block;
  height: 5.35em;
  line-height: 5.885em;
  opacity: 0;
  position: relative;
  top: 0;
  width: 5.35em;
}

#navbar a {
  display: inline-block;
  width: 75px; /* Circle size */
  height: 75px; /* Circle size */
  line-height: 75px; /* Center the icon/text vertically */
  border-radius: 50%; /* Make it circular */
  background-color: #0a3b50; /* Background color of the circle */
  color: white; /* Text/icon color */
  text-align: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
  text-decoration: none; /* Optional: Removes underline from links */
}

#navbar a:before {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px #fff;
  display: block;
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2.5em;
}

#navbar a:hover {
  background-color: rgba(36, 70, 221, 0.911);
  color: white; /* New text/icon color on hover */
}

#navbar a:before {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px #fff;
  display: block;
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2.5em;
}

#navbar .icon:before {
  font-size: 30px; /* Adjust this value to change the size of the icons */
}

#navbar li:nth-child(1) {
  animation-delay: 0.1s;
}
#navbar li:nth-child(2) {
  animation-delay: 0.2s;
}
#navbar li:nth-child(3) {
  animation-delay: 0.3s;
}
#navbar li:nth-child(4) {
  animation-delay: 0.4s;
}
#navbar li:nth-child(5) {
  animation-delay: 0.5s;
}

@-moz-keyframes body {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes body {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-ms-keyframes body {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes body {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes nav-icons {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes nav-icons {
  0% {
    -moz-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes nav-icons {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-ms-keyframes nav-icons {
  0% {
    -ms-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -ms-transform: translateY(0);
    opacity: 1;
  }
}

#body {
  -moz-animation: body 1s 2.25s forwards;
  -webkit-animation: body 1s 2.25s forwards;
  -ms-animation: body 1s 2.25s forwards;
  animation: body 1s 2.25s forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: default;
  display: inline-block;
  opacity: 0;
  position: relative;
  text-align: left;
  top: -1em;
  vertical-align: middle;
  width: 90%;
}

/* Post Section */
#post-section {
  margin-top: 0.5em;
  padding: 0em;
  background-color: #0a3b50; /* Background color for the post section */
  color: #ffffff; /* Text color */
  font-family: "Source Sans Pro", sans-serif;
}

#post-section article {
  max-width: 800px;
  margin: auto;
  background-color: #0a3b50;
  padding: 0.5em;
}

#post-section h2 {
  font-size: 1.5em;
}

#post-section p {
  font-size: 1em;
}

/* Icon */

.icon {
  text-decoration: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

#myButton {
  position: absolute; /* Position the element absolutely */
  top: 20px; /* Distance from the top of the container */
  left: 20px; /* Distance from the left of the container */
  width: 50px; /* Match the width of navbar icons */
  height: 50px; /* Match the height of navbar icons */
  line-height: 50px; /* Center the text/icon vertically */
  border-radius: 50%; /* Circular shape, like navbar icons */
  background-color: #0a3b50; /* Same background color as navbar icons */
  color: white; /* Text/icon color */
  text-align: center; /* Center the text/icon horizontally */
  font-size: 1.75em; /* Font size similar to navbar icons */
  border: solid 1px #fff; /* Border style similar to navbar icons */
  cursor: pointer; /* Cursor changes to a hand icon when hovered */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
}

#myButton:hover {
  background-color: rgba(36, 70, 221, 0.911);
  color: white; /* New text/icon color on hover */
}
