@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

/* Remove default margin and padding from body */
body {
  margin: 0;
  padding: 0;
  background-color: #0a3b50; /* Set body background color */
}

#wrapper {
  background-color: #0a3b50; /* Ensure wrapper has the same background color */
}

/* Navigation Bar */
#navbar {
  background-color: #0a3b50;
  padding: 1em 0;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  display: inline-block;
  margin: 0 10px;
}

#navbar a {
  display: inline-block;
  width: 75px; /* Circle size */
  height: 75px; /* Circle size */
  line-height: 75px; /* Center the icon/text vertically */
  border-radius: 50%; /* Make it circular */
  background-color: #0a3b50; /* Background color of the circle */
  color: white; /* Text/icon color */
  text-align: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
  text-decoration: none; /* Optional: Removes underline from links */
}

#navbar a:before {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px #fff;
  display: block;
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2.5em;
}

#navbar a:hover {
  background-color: rgba(36, 70, 221, 0.911);
  color: white; /* New text/icon color on hover */
}

#navbar .icon:before {
  font-size: 30px; /* Adjust this value to change the size of the icons */
}

/* Post Section */
#post-section {
  margin-top: 0.5em;
  padding: 0em;
  background-color: #0a3b50; /* Background color for the post section */
  color: #ffffff; /* Text color */
  font-family: "Source Sans Pro", sans-serif;
}

#post-section article {
  max-width: 800px;
  margin: auto;
  background-color: #0a3b50;
  padding: 0.5em;
}

#post-section h2 {
  font-size: 1.5em;
}

#post-section p {
  font-size: 1em;
}

/* Icon */

.icon {
  text-decoration: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}
