@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

/* Remove default margin and padding from body */
body {
  margin: 0;
  padding: 0;
  background-color: #115370; /* Set body background color */
}

#wrapper {
  background-color: #115370; /* Ensure wrapper has the same background color */
}

/* Navigation Bar */
#navbar {
  background-color: #115370;
  padding: 1em 0;
  text-align: center;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  display: inline;
  margin: 0 10px;
}

#navbar a {
  color: white;
  text-decoration: none;
}

/* Post Section */
#post-section {
  margin-top: 2em;
  padding: 1em;
  background-color: #115370;
  color: #ffffff;
}

#post-section article {
  max-width: 800px;
  margin: auto;
  background-color: #115370;
  padding: 1em;
  border-radius: 5px;
}

#post-section h2 {
  font-size: 1.5em;
}

#post-section p {
  font-size: 1em;
}
